@charset "utf-8";
/* CSS Document */
/**全局样式*/
body {
	margin: 0;
	font-family:"微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.428571429;
}
img {border:0;}

h1, h2, h3, h4, h5, h6, p, ul, li, dl, dt, dd {
	font-weight:normal;
}

input, select {
	font-family:"微软雅黑", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

ul, li, p, h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

ul, li {
	list-style: none;
}

 a {
	color:#1b1b1b;
}



/*========login========*/
.login-body { background:url(../../images/newLogin/login-bg.jpg) no-repeat; background-size:cover;}
.login-logo { width:438px; height:46px; margin:0 auto 40px; background:url(../../images/newLogin/login-logo.png) no-repeat;}

.login-main { width:520px; height:303px; margin:0 auto; padding:17px;  overflow:hidden; background:url(../../images/newLogin/login-main-bg.png) no-repeat;}
.login-main ul { display:block; margin:40px 100px;}
.login-main ul li { display:block; width:320px; height:44px; line-height:44px; overflow:hidden; background:url(../../images/newLogin/login-input.png) no-repeat; margin-bottom:16px; font-size:16px;}
.login-main ul li span { display:block; float:left; width:76px; color:#fff; padding-left:24px;}
.login-main ul li input { width:180px; height:44px; line-height:44px; border:0; background:none; padding:0 20px; font-size:16px; font-weight:bold;}

.login-main ul .code { background:url(../../images/newLogin/input-code.png) no-repeat;}
.login-main ul .code > input { width:60px;}
.login-main ul .code em { display:block; float:right; width:110px; height:44px; }

.login-but { display:block; width:520px; height:60px; line-height:60px; background:url(../../images/newLogin/login-but2.png) no-repeat; text-align:center; color:#fff; font-size:20px; text-decoration:none;}
.login-but:hover { background:url(../../images/newLogin/login-but1.png) no-repeat;}

.footer { position:absolute; bottom:40px; left:0; width:100%; margin-top:40px; color:#5599cc; text-align:center;}



/*========header========*/
.header { width:100%; height:79px; border-bottom:1px solid #aed0ea; background:url(../../images/newLogin/header-bg.png) repeat-x;}
.logo { width:289px; height:28px; float:left; margin:26px 16px; background:url(../../images/newLogin/logo.png) no-repeat;}
.head-right { float:right; margin-right:16px;}
.head-right-line { width:2px; height:79px; float:left; background:url(../../images/newLogin/headline.png) 0 10px no-repeat; margin-right:10px;}

.topmenu { display:block; float:left; overflow:hidden;}
.topmenu li { display:block; float:left; margin:6px 15px;}
.topmenu li a { display:block; width:75px; height:52px; text-align:center; padding: 8px 0;}
.topmenu li a span { display:block; width:50px; height:32px; margin:0px 18px;}
.topmenu li a:hover { background:url(../../images/newLogin/topmenu-hover.png) no-repeat;}


.headbut { float:left;}
.headbut li { display:block; position:relative; float:left; margin:15px 0; z-index:999;}
.headbut li a { display:block; width:60px; height:32px; text-align:center; padding:9px 0; }
.headbut li:hover a { background:#fff; border:1px solid #aed0ea; border-radius:6px; width:58px; padding:8px 0;}

.head-tip {position:absolute; height:20px; right:8px; top:6px; padding:0 4px; text-align:center; line-height:20px; font-size:12px; color:#fff; background:#f00; border-radius:20px; display: none;}
#headbut-user:hover a { border-radius:6px 6px 0 0; border-bottom:#fff;}
.avatar { display:none; position:absolute; top:48px; left:0; width:140px; border:1px solid #aed0ea; border-radius:0 6px 6px; background:#fff; padding:20px 14px; z-index:-1;}
.avatar span { display:block; float:left; width:44px; height:44px;}
.avatar h1 { display:block; float:left; font-size:16px; color:#000; margin-left:10px;}
.avatar h2 { display:block; float:left; font-size:14px; color:#2779aa; margin-left:10px;}



/*========气泡========*/
.bubble {margin:-0px -0px -0px -0px}
.amap-info-content, .amap-info-outer { border:0;padding:0px;}

.bubble-speed { margin-left: 30px; font-size: 8pt;}

.bubble-title { position:relative; background:#5599cc; color:#fff; padding:0px;}
.bubble-close { position:absolute; top:0; right:0; width:24px; height:24px; background:url(../../images/newLogin/bubble-close1.png) no-repeat;}
.bubble-close:hover { background:url(../../images/newLogin/bubble-close2.png) no-repeat;}
.bubble-title h1 { display:block; overflow:hidden; font-size:16px; margin:4px;}
.bubble-title h1 span { display:block; float:left; margin-right:10px;} 
.bubble-title h1 em { display:block; float:left; padding:0px 4px; margin-top:2px; background:#55c45f; border-radius:3px; font-size:12px; font-style:normal;}
.bubble-title h2 { display:block; overflow:hidden; font-size:12px;}

.bubble-con { background:#fff; padding:0px 0px; color:#000;}
.bubble-con h1 { font-size:14px; margin-bottom:6px;}
.bubble-con h1 span { color:#cccccc;}

.bubble-butbox { overflow:hidden; background:#fff;}
.bubble-butbox dl { display:block; overflow:hidden; padding:10px 14px; margin:0; border-top:1px solid #e5e5e5;}
.bubble-butbox dl dt { display:block; float:left; width:70px; height:60px; font-size:12px; color:#000; margin-right:8px;}
.bubble-butbox dl .but { display:block; overflow:hidden; width:398px;}
.bubble-butbox dl .but a { display:block; float:left; width:61px; height:32px; text-align:center; line-height:32px; color:#2779aa; font-size:14px;}
.bubble-butbox dl .but .left { background:url(../../images/newLogin/bubblebut1-1.png) no-repeat; border-right:1px solid #aed0ea;}
.bubble-butbox dl .but .left:hover { background:url(../../images/newLogin/bubblebut1-2.png) no-repeat;}
.bubble-butbox dl .but .right { background:url(../../images/newLogin/bubblebut2-1.png) no-repeat; margin-right:14px;}
.bubble-butbox dl .but .right:hover { background:url(../../images/newLogin/bubblebut2-2.png) no-repeat;}
.bubble-butbox dl .cut { display:block; overflow:hidden; width:398px;}
.bubble-butbox dl .cut a { display:block; float:left; color:#727272; font-size:14px; overflow:hidden; margin:10px 27px 0 0;}
.bubble-butbox dl .cut a:hover { color:#5599cc;}
.bubble-butbox dl .cut a img { display:block; float:left; margin:4px 6px 0 0;}

.bubble-page { padding:8px 14px; overflow:hidden; border-top:1px solid #e5e5e5;}
.bubble-page .last { display:block; float:left; color:#727272;}
.bubble-page .last:hover { color:#2779aa;}
.bubble-page .next { display:block; float:right; color:#727272;}
.bubble-page .next:hover { color:#2779aa;}
.bubble-page ul { display:block; overflow:hidden; text-align:center;}
.bubble-page ul li { display:inline-block; margin:0 3px;}
.bubble-page ul li a { display:block; width:20px; height:20px; background:#e5e5e5; color:#727272; border-radius:20px; text-align:center; line-height:20px; font-size:12px;}
.bubble-page ul li a:hover { background:#2779aa; color:#fff;}
.bubble-page ul li .active { background:#2779aa; color:#fff;}



/*========map search========*/
.map-search { width:246px; overflow:hidden;}
.map-search .box { width:246px; height:50px; background:url(../../images/newLogin/search-bg.png) no-repeat; overflow:hidden;}
.map-search .box label { display:block; float:left; width:200px; height:44px; line-height:44px; margin-top:1px; position:relative;}
.map-search .box label span { position:absolute; top:0px; left:10px; color:#aaa; cursor:text; font-size:16px;}
.map-search .box label input { width:190px; height:44px; line-height:44px; border:0; background:none; color:#000; font-size:16px; padding-left:10px;}
.map-search .box a { display:block; float:left; width:44px; height:44px;}
.map-search .box a img { margin:14px 12px 12px;}
.map-search .tip { margin:4px 0 0; padding:10px; background:#fee3e3; border:1px solid #fd9a9a; border-radius:4px; color:#f2503a;}



/*========左侧菜单========*/
.sidemenu { display:block; width:235px;}
.sidemenu li { display:block; border-bottom:1px solid #aed0ea;}
.sidemenu li a { display:block; height:30px; line-height:30px; color:#000; padding-left:10px; background:#f2f5f7;}
.sidemenu li a:hover { background:#e4f1fb; color:#2779aa;}
.sidemenu li .active { background:#3baae3; color:#fff;}
.sidemenu li .active:hover { background:#3baae3; color:#fff;}

/*========充电========*/
.bubble-pile { overflow:hidden; background:#fff;}
.bubble-pile-list { overflow:hidden; padding:10px 14px; border-top:1px solid #e0e0e0;}
.bubble-pile-list span { display:block; float:left; height:32px; line-height:32px; margin-right:20px;}
.bubble-pile-list span img { display:block; float:left;  margin:4px 4px 0 0;}
.bubble-pile-list em { display:block; float:left; height:32px; line-height:32px; margin-right:20px; font-style:normal;}
.bubble-pile-list i { display:block; float:left; height:32px; line-height:32px; margin-right:20px; font-style:normal;}
.bubble-pile-list .gre { color:#55c45f;}
.bubble-pile-list a { display:block; float:left; background:#fd7272; border:1px solid #bd2f2f; border-radius:4px; height:28px; line-height:28px; padding:0 10px; text-align:center; color:#fff;}
.bubble-pile-list a:hover { background:#f55656;}

/*========地图统计========*/
.map-box { margin:20px;}

.map-nav { overflow:hidden; padding-bottom:10px; margin-bottom:20px;  border-bottom:1px solid #aed0ea;}
.map-nav ul { display:block; float:left; overflow:hidden; }
.map-nav ul span {display:block; float:left; height:32px; line-height:32px; color:#000;}
.map-nav ul li {display:block; float:left; margin-right:10px;}
.map-nav ul li a {display:block; width:72px; height:32px; line-height:32px; text-align:center; color:#000; background:#e3f0fc;}
.map-nav ul li a:hover { background:#3baae3; color:#fff;text-decoration: none;}
.map-nav ul li .active { background:#3baae3; color:#fff;text-decoration: none;}

.map-nav-back { display:block; float:right; width:70px; height:30px; line-height:30px; text-align:center; color:#2779aa; border:1px solid #aed0ea; }
.map-nav-back:hover {background:#e4f1fb;}

.map-main { overflow: hidden; }
.map-main-left {float: left; width: 50%; height: 500px; }
.map-main-right {float: right; width: 45%; height: 500px; }


.btnCar {
     font-size: 13pt; color: #003366;
     cursor: hand;
     font-style: normal ;
}

.btnCar:hover { 
	color: red;
	cursor: pointer;
}

