<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iber.portal.dao.car.CarPhotoMapper" >
  <resultMap id="BaseResultMap" type="com.iber.portal.model.car.CarPhoto" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lpn" property="lpn" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="PageResultMap" type="com.iber.portal.vo.car.CarPhotoVo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="lpn" property="lpn" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="create_name" property="createName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="city_code" property="cityCode" jdbcType="VARCHAR" />
    <result column="cityName" property="cityName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, lpn, url, create_name, create_time, create_id,city_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from x_car_photo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from x_car_photo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iber.portal.model.car.CarPhoto" >
    insert into x_car_photo (id, lpn, url, 
      create_name, create_time, create_id,city_code
      )
    values (#{id,jdbcType=INTEGER}, #{lpn,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, 
      #{createName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createId,jdbcType=INTEGER}, #{cityCode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iber.portal.model.car.CarPhoto"  useGeneratedKeys="true" keyProperty="id">
    insert into x_car_photo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="lpn != null" >
        lpn,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="createName != null" >
        create_name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="cityCode != null" >
        city_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="lpn != null" >
        #{lpn,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="cityCode != null" >
        #{cityCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iber.portal.model.car.CarPhoto" >
    update x_car_photo
    <set >
      <if test="lpn != null" >
        lpn = #{lpn,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createName != null" >
        create_name = #{createName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="cityCode != null" >
        create_id = #{cityCode,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iber.portal.model.car.CarPhoto" >
    update x_car_photo
    set lpn = #{lpn,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      create_name = #{createName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_id = #{createId,jdbcType=INTEGER},
      city_code = #{cityCode,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectAll" resultMap="PageResultMap" parameterType="java.util.Map" >
     select 
     <include refid="Base_Column_List" /> ,
	(select name from x_city where code = p.city_code) cityName
    from x_car_photo p
    <trim prefixOverrides="and">
        <where>
            <if test="cityCode != null and cityCode != '' ">
               and city_code = #{cityCode,jdbcType=VARCHAR}
            </if>
            <if test="lpn != null and lpn != '' ">
               and lpn like concat('%',#{lpn,jdbcType=VARCHAR},'%') 
            </if>
            <if test="queryDateFrom != null and queryDateFrom !='' and queryDateTo != null and queryDateTo !='' ">
	     	   and create_time BETWEEN #{queryDateFrom,jdbcType=VARCHAR} and #{queryDateTo,jdbcType=VARCHAR}
	        </if>
        </where>
    </trim>
    order by create_time desc 
    limit #{offset,jdbcType=INTEGER} , #{rows,jdbcType=INTEGER}
  </select>
  
  <select id="selectAllRecords" resultType="java.lang.Integer" parameterType="java.util.Map">
     select count(1)
     from x_car_photo
     <trim prefixOverrides="and">
        <where>
            <if test="cityCode != null and cityCode != '' ">
               and city_code = #{cityCode,jdbcType=VARCHAR}
            </if>
            <if test="lpn != null and lpn != '' ">
               and lpn like concat('%',#{lpn,jdbcType=VARCHAR},'%') 
            </if>
            <if test="queryDateFrom != null and queryDateFrom !='' and queryDateTo != null and queryDateTo !='' ">
              and create_time BETWEEN #{queryDateFrom,jdbcType=VARCHAR} and #{queryDateTo,jdbcType=VARCHAR}
            </if>
        </where>
    </trim>
  </select>
  
</mapper>