<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iber.portal.dao.enterprise.EnterpriseDepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.iber.portal.model.enterprise.EnterpriseDepartment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="INTEGER" />
    <result column="is_enable" property="isEnable" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, enterprise_id, is_enable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from x_enterprise_department
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from x_enterprise_department
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iber.portal.model.enterprise.EnterpriseDepartment" >
    insert into x_enterprise_department (id, name, enterprise_id, 
      is_enable)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{enterpriseId,jdbcType=INTEGER}, 
      #{isEnable,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.iber.portal.model.enterprise.EnterpriseDepartment" >
    insert into x_enterprise_department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
      <if test="isEnable != null" >
        is_enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="isEnable != null" >
        #{isEnable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iber.portal.model.enterprise.EnterpriseDepartment" >
    update x_enterprise_department
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      </if>
      <if test="isEnable != null" >
        is_enable = #{isEnable,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iber.portal.model.enterprise.EnterpriseDepartment" >
    update x_enterprise_department
    set name = #{name,jdbcType=VARCHAR},
      enterprise_id = #{enterpriseId,jdbcType=INTEGER},
      is_enable = #{isEnable,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>