<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iber.portal.dao.enterprise.EnterpriseExcessApplyMapper" >
  <resultMap id="BaseResultMap" type="com.iber.portal.model.enterprise.EnterpriseExcessApply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="apply_id" property="applyId" jdbcType="INTEGER" />
    <result column="exceed" property="exceed" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="next_handler_id" property="nextHandlerId" jdbcType="INTEGER" />
    <result column="payer" property="payer" jdbcType="TINYINT" />
    <result column="pay_status" property="payStatus" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="reject_reason" property="rejectReason" jdbcType="VARCHAR" />
  </resultMap>

    <resultMap id="ExessApplyMap" type="com.iber.portal.vo.enterprise.EnterpriseExcessApplyVo" extends="BaseResultMap">
        <result column="enterprise_name" property="enterpriseName"></result>
        <result column="memberName" property="memberName"></result>
        <result column="memberPhone" property="memberPhone"></result>
        <result column="checkMemberName" property="checkMemberName"></result>
        <result column="useTime" property="useTime" jdbcType="BIGINT"></result>
        <result column="applyCityName" property="applyCityName"></result>
        <result column="actualCityName" property="actualCityName"></result>
        <result column="is_enterprise_use_car" property="orderType"></result>
        <result column="planUseTime" property="planUseTime"></result>
        <result column="reason" property="reason"></result>
        <result column="lowest_estimated_cost" property="lowestEstimatedCost"></result>
        <result column="highest_estimated_cost" property="highestEstimatedCost"></result>
    </resultMap>
  <sql id="Base_Column_List" >
    id, member_id, apply_id, exceed, remake, status, next_handler_id, payer, pay_status, 
    create_time, update_time, start_time, end_time, reject_reason
  </sql>
    <sql id ="Base_Where_Condition">
        FROM x_enterprise_excess_apply ly
        LEFT JOIN x_enterprise_use_car_apply ap ON ly.apply_id=ap.id
        LEFT JOIN x_member m ON ly.member_id = m.id
        LEFT JOIN x_enterprise e ON ap.enterprise_id =e.id
        LEFT JOIN x_time_share_order o ON o.order_id =ly.order_id
        <trim prefixOverrides="and" >
            <where>
                <if test="memberName !=null and memberName !=''">
                    and m.name like CONCAT('%',#{memberName,jdbcType=VARCHAR},'%')
                </if>
                <if test="enterpriseName !=null and enterpriseName !=''">
                    and e.enterprise_name like CONCAT('%',#{enterpriseName,jdbcType=VARCHAR},'%')
                </if>
                <if test="orderType !=null and orderType !=''">
                    and o.is_enterprise_use_car = #{orderType}
                </if>
                <if test="phone !=null and phone !=''">
                    and m.phone =#{phone}
                </if>
                <if test="checkStatus !=null and checkStatus !=''">
                    and ly.status = #{checkStatus}
                </if>
            </where>
        </trim>
    </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from x_enterprise_excess_apply
    where id = #{id,jdbcType=INTEGER}
  </select>

    <select id="selectEnterpriseExcessApplyList" parameterType="map"
            resultMap="ExessApplyMap">
        SELECT
        ly.id, ly.member_id, ly.apply_id, ly.exceed,ly.remark, ly.status, ly.next_handler_id, ly.payer, ly.pay_status,
        ly.create_time,ly.update_time, ly.start_time, ly.end_time,ly.reject_reason
        ,o.is_enterprise_use_car as orderType
        ,m.name  as memberName,m.phone as memberPhone
        ,ap.reason,ap.lowest_estimated_cost,ap.highest_estimated_cost
        ,(SELECT name FROM x_member m WHERE m.id = ly.next_handler_id) as checkMemberName
        ,e.enterprise_name as enterpriseName
        ,(SELECT name FROM x_city c WHERE c.code = ap.city_code) as applyCityName
        ,(SELECT name FROM x_city c WHERE c.code = o.city_code) as actualCityName
        ,(SELECT UNIX_TIMESTAMP(o.end_time)-UNIX_TIMESTAMP(o.begin_time) FROM x_time_share_order ord WHERE ord.order_id = ly.order_id ) as useTime
        ,(SELECT UNIX_TIMESTAMP(ap.end_time)- UNIX_TIMESTAMP(ap.start_time) FROM x_enterprise_use_car_apply ap WHERE ap.id = ly.apply_id) as planUseTime
        FROM x_enterprise_excess_apply ly
        LEFT JOIN x_enterprise_use_car_apply ap ON ly.apply_id=ap.id
        LEFT JOIN x_member m ON ly.member_id = m.id
        LEFT JOIN x_enterprise e ON ap.enterprise_id =e.id
        LEFT JOIN x_time_share_order o ON o.order_id =ly.order_id
        <trim prefixOverrides="and" >
            <where>
                <if test="memberName !=null and memberName !=''">
                    and m.name like CONCAT('%',#{memberName,jdbcType=VARCHAR},'%')
                </if>
                <if test="enterpriseName !=null and enterpriseName !=''">
                    and e.enterprise_name like CONCAT('%',#{enterpriseName,jdbcType=VARCHAR},'%')
                </if>
                <if test="phone !=null and phone !=''">
                    and m.phone like CONCAT('%',#{phone,jdbcType=VARCHAR},'%')
                </if>
                <if test="checkStatus !=null and checkStatus !=''">
                    and ly.status = #{checkStatus}
                </if>
            </where>
        </trim>
        order by ly.create_time desc
        limit #{pageNumber},#{pageSize}


    </select>
    <select id="selectEnterpriseExcessApplyTotalNumber" parameterType="map" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM x_enterprise_excess_apply ly
        LEFT JOIN x_enterprise_use_car_apply ap ON ly.apply_id=ap.id
        LEFT JOIN x_member m ON ly.member_id = m.id
        LEFT JOIN x_enterprise e ON ap.enterprise_id =e.id
        LEFT JOIN x_time_share_order o ON o.order_id =ly.order_id
        <trim prefixOverrides="and" >
            <where>
                <if test="memberName !=null and memberName !=''">
                    and m.name like CONCAT('%',#{memberName,jdbcType=VARCHAR},'%')
                </if>
                <if test="enterpriseName !=null and enterpriseName !=''">
                    and e.enterprise_name like CONCAT('%',#{enterpriseName,jdbcType=VARCHAR},'%')
                </if>
               <!-- <if test="orderType !=null and orderType !=''">
                    and o.is_enterprise_use_car = #{orderType}
                </if>-->
                <if test="phone !=null and phone !=''">
                    and m.phone  like CONCAT('%',#{phone,jdbcType=VARCHAR},'%')
                </if>
                <if test="checkStatus !=null and checkStatus !=''">
                    and ly.status = #{checkStatus}
                </if>
            </where>
        </trim>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from x_enterprise_excess_apply
        where id = #{id,jdbcType=INTEGER}
    </delete>
  <insert id="insert" parameterType="com.iber.portal.model.enterprise.EnterpriseExcessApply" >
    insert into x_enterprise_excess_apply (id, member_id, apply_id, 
      exceed, remake, status, 
      next_handler_id, payer, pay_status, 
      create_time, update_time, start_time, 
      end_time, reject_reason)
    values (#{id,jdbcType=INTEGER}, #{memberId,jdbcType=INTEGER}, #{applyId,jdbcType=INTEGER}, 
      #{exceed,jdbcType=INTEGER}, #{remake,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{nextHandlerId,jdbcType=INTEGER}, #{payer,jdbcType=TINYINT}, #{payStatus,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{startTime,jdbcType=TIMESTAMP}, 
      #{endTime,jdbcType=TIMESTAMP}, #{rejectReason,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.iber.portal.model.enterprise.EnterpriseExcessApply" >
    insert into x_enterprise_excess_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="applyId != null" >
        apply_id,
      </if>
      <if test="exceed != null" >
        exceed,
      </if>
      <if test="remake != null" >
        remake,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="nextHandlerId != null" >
        next_handler_id,
      </if>
      <if test="payer != null" >
        payer,
      </if>
      <if test="payStatus != null" >
        pay_status,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="rejectReason != null" >
        reject_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="applyId != null" >
        #{applyId,jdbcType=INTEGER},
      </if>
      <if test="exceed != null" >
        #{exceed,jdbcType=INTEGER},
      </if>
      <if test="remake != null" >
        #{remake,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="nextHandlerId != null" >
        #{nextHandlerId,jdbcType=INTEGER},
      </if>
      <if test="payer != null" >
        #{payer,jdbcType=TINYINT},
      </if>
      <if test="payStatus != null" >
        #{payStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rejectReason != null" >
        #{rejectReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iber.portal.model.enterprise.EnterpriseExcessApply" >
    update x_enterprise_excess_apply
    <set >
      <if test="memberId != null" >
        member_id = #{memberId,jdbcType=INTEGER},
      </if>
      <if test="applyId != null" >
        apply_id = #{applyId,jdbcType=INTEGER},
      </if>
      <if test="exceed != null" >
        exceed = #{exceed,jdbcType=INTEGER},
      </if>
      <if test="remake != null" >
        remake = #{remake,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="nextHandlerId != null" >
        next_handler_id = #{nextHandlerId,jdbcType=INTEGER},
      </if>
      <if test="payer != null" >
        payer = #{payer,jdbcType=TINYINT},
      </if>
      <if test="payStatus != null" >
        pay_status = #{payStatus,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="rejectReason != null" >
        reject_reason = #{rejectReason,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iber.portal.model.enterprise.EnterpriseExcessApply" >
    update x_enterprise_excess_apply
    set member_id = #{memberId,jdbcType=INTEGER},
      apply_id = #{applyId,jdbcType=INTEGER},
      exceed = #{exceed,jdbcType=INTEGER},
      remake = #{remake,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      next_handler_id = #{nextHandlerId,jdbcType=INTEGER},
      payer = #{payer,jdbcType=TINYINT},
      pay_status = #{payStatus,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      reject_reason = #{rejectReason,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>