<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iber.portal.dao.member.MemberBlacklistLogMapper" > 
<!-- Result Map-->
<resultMap id="BaseResultMap" type="com.iber.portal.model.member.MemberBlacklistLog" >
	<result column="id" property="id"/>
	<result column="member_id" property="memberId"/>
	<result column="reason" property="reason"/>
	<result column="create_id" property="createId"/>
	<result column="create_time" property="createTime"/>
	<result column="update_id" property="updateId"/>
	<result column="update_time" property="updateTime"/>
	<result column="operate" property="operate"/>
	<result column="createName" property="createName"/>
	<result column="memberName" property="memberName"/>
	<result column="updateName" property="updateName"/>
	<result column="memberPhone" property="memberPhone"/>
</resultMap>
       
<!-- member_blacklist_log table all fields -->
<sql id="Base_Column_List" >
	 id,member_id,reason,create_id,create_time,update_id,update_time,operate
</sql>

<!-- 插入记录 -->
<insert id="insert" parameterType="com.iber.portal.model.member.MemberBlacklistLog" >
  insert into x_member_blacklist_log(id,member_id,reason,create_id,create_time,update_id,update_time,operate)
 values(#{id},#{memberId},#{reason},#{createId},#{createTime},#{updateId},#{updateTime},#{operate})
</insert>

<!-- 删除记录 -->
<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
	delete 	 from x_member_blacklist_log where id = #{id}
</delete>

<!-- 更新 -->
<update id="updateByPrimaryKey" parameterType="java.lang.Integer">
	update x_member_blacklist_log set member_id=#{memberId},reason=#{reason},create_id=#{createId},create_time=#{createTime},update_id=#{updateId},update_time=#{updateTime},operate=#{operate} where id=#{id}
</update>

<!-- 根据id查询 黑名单日志 -->
<select id="selectByPrimaryKey"  resultMap="BaseResultMap" parameterType="java.lang.Integer">
	select <include refid="Base_Column_List" /> 
	 from x_member_blacklist_log where id = #{id}
</select>

<!-- 黑名单日志 列表总数-->
<select id="getAllNum" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(1) from x_member_blacklist_log l where 1=1 
 	<if test="name != null and name != '' ">
 		and EXISTS(select 1 from x_member m where m.id = l.member_id and m.name like concat("%",#{name},"%"))
 	</if>
 	<if test=" phone != null and phone != '' ">
 		and EXISTS( select 1 from x_member m where m.id = l.member_id and m.phone like concat('%',#{phone},'%'))
 	</if>
 
</select>
  	
<!-- 查询黑名单日志列表 -->
<select id="queryPageList" resultMap="BaseResultMap"  parameterType="java.util.Map">
	select 
	<include refid="Base_Column_List"/>,
	(select name from x_member m where m.id =l.member_id )memberName,
	(select phone from x_member m where m.id =l.member_id )memberPhone,
	(select name from x_sys_user u where u.id = l.create_id )createName,
	(select name from x_sys_user u where u.id = l.update_id)updateName
	
	from x_member_blacklist_log l where 1 =1 
	<if test="name != null and name != '' ">
 		and EXISTS(select 1 from x_member m where m.id =l.member_id and m.name like concat("%",#{name},"%"))
 	</if>
 	<if test=" phone != null and phone != '' ">
 		and EXISTS( select 1 from x_member m where m.id =l.member_id and m.phone like concat('%',#{phone},'%'))
 	</if>
	order by create_time desc 
	<if test="from != null and to != null">
	limit #{from,jdbcType=INTEGER}, #{to,jdbcType=INTEGER}
	</if>
	 
</select>
  	
</mapper>   
