<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.iber.portal.dao.versions.VersionsPileMapper" >
  <resultMap id="BaseResultMap" type="com.iber.portal.model.versions.VersionsPile" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category_code" property="categoryCode" jdbcType="VARCHAR" />
    <result column="version_name" property="versionName" jdbcType="VARCHAR" />
    <result column="version_url" property="versionUrl" jdbcType="VARCHAR" />
    <result column="version_no" property="versionNo" jdbcType="VARCHAR" />
    <result column="version_record" property="versionRecord" jdbcType="INTEGER" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_increment" property="isIncrement" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="userResultMap" type="com.iber.portal.model.versions.VersionsPile" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category_code" property="categoryCode" jdbcType="VARCHAR" />
    <result column="version_name" property="versionName" jdbcType="VARCHAR" />
    <result column="version_url" property="versionUrl" jdbcType="VARCHAR" />
    <result column="version_no" property="versionNo" jdbcType="VARCHAR" />
    <result column="version_record" property="versionRecord" jdbcType="INTEGER" />
    <result column="create_id" property="createId" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_id" property="updateId" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="is_increment" property="isIncrement" jdbcType="VARCHAR" />
    <result column="createName" property="createName" jdbcType="VARCHAR" />
    <result column="updateName" property="updateName" jdbcType="VARCHAR" />
    <result column="categoryName" property="categoryName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, category_code, version_name, version_url, version_no, version_record, create_id, 
    create_time, update_id, update_time, remark, is_increment
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from x_versions_pile
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from x_versions_pile
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iber.portal.model.versions.VersionsPile" >
    insert into x_versions_pile (id, category_code, version_name, 
      version_url, version_no, version_record, 
      create_id, create_time, update_id, 
      update_time, remark, is_increment
      )
    values (#{id,jdbcType=INTEGER}, #{categoryCode,jdbcType=VARCHAR}, #{versionName,jdbcType=VARCHAR}, 
      #{versionUrl,jdbcType=VARCHAR}, #{versionNo,jdbcType=VARCHAR}, #{versionRecord,jdbcType=INTEGER}, 
      #{createId,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{updateId,jdbcType=INTEGER}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}, #{isIncrement,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iber.portal.model.versions.VersionsPile" >
    insert into x_versions_pile
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="categoryCode != null" >
        category_code,
      </if>
      <if test="versionName != null" >
        version_name,
      </if>
      <if test="versionUrl != null" >
        version_url,
      </if>
      <if test="versionNo != null" >
        version_no,
      </if>
      <if test="versionRecord != null" >
        version_record,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateId != null" >
        update_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="isIncrement != null" >
        is_increment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="categoryCode != null" >
        #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="versionName != null" >
        #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="versionUrl != null" >
        #{versionUrl,jdbcType=VARCHAR},
      </if>
      <if test="versionNo != null" >
        #{versionNo,jdbcType=VARCHAR},
      </if>
      <if test="versionRecord != null" >
        #{versionRecord,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isIncrement != null" >
        #{isIncrement,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iber.portal.model.versions.VersionsPile" >
    update x_versions_pile
    <set >
      <if test="categoryCode != null" >
        category_code = #{categoryCode,jdbcType=VARCHAR},
      </if>
      <if test="versionName != null" >
        version_name = #{versionName,jdbcType=VARCHAR},
      </if>
      <if test="versionUrl != null" >
        version_url = #{versionUrl,jdbcType=VARCHAR},
      </if>
      <if test="versionNo != null" >
        version_no = #{versionNo,jdbcType=VARCHAR},
      </if>
      <if test="versionRecord != null" >
        version_record = #{versionRecord,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateId != null" >
        update_id = #{updateId,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isIncrement != null" >
        is_increment = #{isIncrement,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iber.portal.model.versions.VersionsPile" >
    update x_versions_pile
    set category_code = #{categoryCode,jdbcType=VARCHAR},
      version_name = #{versionName,jdbcType=VARCHAR},
      version_url = #{versionUrl,jdbcType=VARCHAR},
      version_no = #{versionNo,jdbcType=VARCHAR},
      version_record = #{versionRecord,jdbcType=INTEGER},
      create_id = #{createId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_id = #{updateId,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR},
      is_increment = #{isIncrement,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

	<select id="selectByPrimaryInfo" parameterType="java.util.Map" resultMap="userResultMap" >
		select
		<include refid="Base_Column_List" />
		,
		(select name from x_sys_user where x_sys_user.id = x_versions_pile.create_id ) createName,
		(select name from x_sys_user where x_sys_user.id = x_versions_pile.update_id ) updateName ,
		 CASE category_code WHEN '1' THEN "直流" WHEN '2' THEN '交流' when '3' THEN '交直流一体' else '' END  categoryName
		from x_versions_pile
		<where>
			<if test="categoryCode != null and categoryCode != '' ">
				  and category_code = #{categoryCode,jdbcType=VARCHAR}
			</if>
		</where>
		 order by create_time desc limit #{page,jdbcType=INTEGER},#{size,jdbcType=INTEGER}
	</select>
	<select id="selectByPrimaryKeyRecords" parameterType="java.util.Map" resultType="java.lang.Integer">
		select count(1) from x_versions_pile
		<where>
			<if test="categoryCode != null and categoryCode != '' ">
				and category_code = #{categoryCode,jdbcType=VARCHAR}
			</if>
		</where>
	</select>
	<select id="selectNewestVersion" resultMap="BaseResultMap">
		select <include refid="Base_Column_List" />
		 from x_versions_pile _pile WHERE 
			_pile.version_record = (
				select max(pile.version_record) from x_versions_pile  pile WHERE
				_pile.category_code = pile.category_code
			)
	</select>
</mapper>